<ul class="menu">
  <li><a href="/">Home</a></li>
  <li><a href="#">Expressions</a>
    <ul class="multi-column">
      <li>
        <ul>
          <li><span class="multi-column__title">Writing</span></li>
          <li><a href="/e/free-thought">Free Thought</a></li>
          <li><a href="/e/poetry">Poetry</a></li>
          <li><a href="/e/short-stories">Short Stories</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><span class="multi-column__title">Visual</span></li>
          <li><a href="/e/calligraphy">Calligraphy</a></li>
          <li><a href="/e/calligraphy">Computer Generated</a></li>
          <li><a href="/e/paintings">Paintings</a></li>
          <li><a href="/e/photography">Photography</a></li>
          <li><a href="/e/tagging">Tagging</a></li>
          <li><a href="/e/tattoos">Tattoos</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <% if(!app.locals.user) { %>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Login</a></li>
  <% } else { %>
  <li><a href="/logout">Logout</a></li>
  <% } %>
</ul>
      
                                        